@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BookLibrary.DataAccess.Account
<h1>Sign in</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="col-md-offset-2 col-md-10">
            <label style="color:red">@ViewBag.Error</label>
        </div>

        <form asp-action="Signin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <a href="/Authentication/Signup">Sign up if you don't have account</a>
    </div>
</div>
